{{mdl-button icon='search' isColored=false class='smd-search-widget__focus' action='open'}}
{{input value=term key-up=(action "keyUp")autocomplete='off' autofocus=true placeholder='Search' class='smd-search-widget__input' value=term}}
{{mdl-button icon='close' isColored=false class='smd-search-widget__close' action='close'}}
{{yield}}
